<!DOCTYPE html>

<html>

<head>

  <!-- 页面meta -->

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>EMS薪酬管理系统系统</title>

<!--  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">-->

  <!-- 引入样式 -->

  <link rel="stylesheet" href="../plugins/elementui/index.css">
  <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="../css/iconfont.css">

  <script src="../js/vue.js"></script>
  <script src="../plugins/elementui/index.js"></script>
  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <script src="../js/axios-0.18.0.js"></script>

</head>

<body style="height: 100vh; margin: 0px;">
  <div id="app" style="height: 100%;">
    <el-container style="height: 100%;">
      <el-header style="height: 60px;">
        <div style="margin-left: 20px;">
          <i class="icon iconfont icon-xitongyunzhuanqingkuang" style="float: left;">  EMS管理系统 </i>
          <el-dropdown style="float: right;width: 60px;height: 60px;">
            <span class="el-dropdown-link">
              <i class="icon iconfont icon-yonghu" style="color: white"></i>
            </span>
            <el-dropdown-menu slot="dropdown" style="margin-top: 0px;">
              <el-dropdown-item>黄金糕</el-dropdown-item>
              <el-dropdown-item>狮子头</el-dropdown-item>
              <el-dropdown-item>螺蛳粉</el-dropdown-item>
              <el-dropdown-item divided></el-dropdown-item>
              <el-dropdown-item @click.native="logout">退出登录</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <el-dropdown  trigger="click" style="float: right;width: 60px;height: 60px;">
            <span class="el-dropdown-link">
              <i class="icon iconfont icon-xiaoxi" style="color: white"></i>
            </span>
            <el-dropdown-menu slot="dropdown" style=" margin-top: 0px;width: 82px;height: 180px;left: 784px;">
              <el-dropdown-item icon="el-icon-plus">黄金糕</el-dropdown-item>
              <el-dropdown-item icon="el-icon-circle-plus">狮子头</el-dropdown-item>
              <el-dropdown-item icon="el-icon-circle-plus-outline">螺蛳粉</el-dropdown-item>
              <el-dropdown-item icon="el-icon-check">双皮奶</el-dropdown-item>
              <el-dropdown-item icon="el-icon-circle-check">蚵仔煎</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          
        </div>
      </el-header>
      <el-container>
        <el-aside style="height: 100%" width="auto">
          <el-row class="tac">
            <el-col :span="12">

                <el-menu :router="true" class="el-menu-vertical-demo" :collapse="false" ref="operationsTable"  :unique-opened="true" text-color="white"  background-color="#213141" >

                  <li  @click="test1()"><i class="icon iconfont icon-houtaishangpinguanli" style="width: 64px;margin-left: 0px;font-size: large;color:white" ></i></li>
<!--                  <el-button  @click="test1()" size="small" class="icon iconfont icon-houtaishangpinguanli" type="text"></el-button>-->
<!--                  <el-menu-item :index="item.index" v-for="item in navData" :key="item.path" @click="clickMen(item)">-->
<!--                    <i :class="item.icon"></i>-->
<!--                          <span slot="title">{{item.name}}</span>-->
<!--&lt;!&ndash;                    {{item.name}}&ndash;&gt;-->
<!--                  </el-menu-item>-->
                  <el-submenu :index="v.index" v-for="v in navData" :key="v.path">
                    <template slot="title">
                      <i :class="v.icon" style="color: white"></i>
                              <span>{{v.name}}</span>
<!--                      {{v.name}}-->
                    </template>
                    <el-menu-item-group style="padding: 0">
                      <el-menu-item :index="sub.index" v-for="sub in v.items" :key="sub.path" @click="clickMen" >
                        <i :class="sub.icon"></i>
                                  <span>{{sub.name}}</span>
<!--                        {{sub.name}}-->
                      </el-menu-item>

                    </el-menu-item-group>

                  </el-submenu>

                </el-menu>


            </el-col>
          </el-row>
        </el-aside>
        <el-main style="line-height: 0 ;background-color: white;padding: 0 0 0 0">
<!--          <el-breadcrumb separator-class="el-icon-arrow-right">-->
<!--            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>-->
<!--            <el-breadcrumb-item v-for="o in breadcrumbListData" :key="o.id">{{o.name}}</el-breadcrumb-item>-->
<!--          </el-breadcrumb>-->
<!--          <router-view></router-view>-->
<!--          <iframe :src="path" height="100%" width="100%" frameborder="0" scrolling="no" marginwidth='0' marginheight='0' >-->
          <iframe :src="path"
                  width="100%"
                  :height="iframeH"
                  frameborder="0"
                  scrolling="auto"
                  ref="iframe" >
          </iframe>

        </el-main>
      </el-container>
    </el-container>
  </div>
</body>

<!-- 引入组件库 -->



<script>
  var vue = new Vue({
    el: '#app',
    data:{
      // tempSrc: '',
      iframeH: '',
      navData: [
        //   {
        //     name:"系统概况",
        //     index: "1",
        //     icon: "icon iconfont icon-xitongyunzhuanqingkuang",
        //     items:[
        //       {
        //         index: "1-1",
        //         name: "系统概述",
        //         path: "system.html"
        //       }
        //     ]
        //   },
        //   {
        //     name:"员工信息",
        //     index: "2",
        //     icon: "icon iconfont icon-yuangongxinxi",
        //     items:[
        //       {
        //         index: "2-1",
        //         name: "员工信息",
        //         path: "books.html"
        //       }
        //     ]
        //   },
        //   {
        //     name:"用户管理",
        //     index: "3",
        //     icon: "icon iconfont icon-navicon-yhgl",
        //     items:[
        //       {
        //         index: "3-1",
        //         name: "用户管理",
        //         path: "system.html"
        //       }
        //     ]
        //   },
        //   {
        //     name:"组织结构",
        //     index: "4",
        //     icon: "icon iconfont icon-zuzhiguanli",
        //     items:[
        //       {
        //         index: "4-1",
        //         name: "组织结构",
        //         path: "system.html"
        //       }
        //     ]
        //   },
        //   {
        //     index: "5",
        //     name:"薪酬结构",
        //
        //     icon: "icon iconfont icon-jiegou",
        //     items:[
        //       {
        //         index: "5-1",
        //         name: "薪酬结构",
        //         url: "system.html"
        //       }
        //     ]
        //   },
        //   {
        //     name:"薪酬计算",
        //     index: "6",
        //     icon: "icon iconfont icon-navicon-yhgl",
        //     items:[
        //       {
        //         index: '6-1',
        //         name: "薪酬计算",
        //         path: "system.html"
        //       }
        //     ]
        //   }
        ],
      path: "",

    },

    computed:{
      // noChildren(){
      //   return this.navData.filter((item)=>!item.items)
      // },
      // hasChildren(){
      //   return this.navData.filter((item) =>item.items)
      // },

    },
    watch: {
      // 监听路由的改变(实时改变面包屑数据)
      // $route () {
      //   this.breadcrumbList()
      // }
    },

    created() {
      // this.tempSrc= '获取的url地址';
      this.getNavData()
      this.mounted ()
    },

    methods: {

      getNavData(){
        axios.get("/getNavData").then((res)=>{
          this.navData = res.data.data;
        })

      },
      logout(){
        axios.get("/logout").then((res)=>{
          this.navData = res.data.data;
          location.href=res.data.url;
        })
      },
      // handleOpen(key, keyPath) {
      //   console.log(key, keyPath);
      // },
      // handleClose(key, keyPath) {
      //   console.log(key, keyPath);
      // },

      test1() {

        this.$refs['operationsTable'].collapse = !this.$refs['operationsTable'].collapse

      },
      handleCommand(command) {
        this.$message('click on item ' + command);
      },
      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      },
      clickMen(item){
        this.path = item.$vnode.data.key;
        // this.$route.push({path:item.path})
        console.log(this.$route)
        this.mounted();

      },
      handleSelect (index, indexPath) {
        this.indexBreadcrumbs = indexPath // indexPath为一个数组，里面包含选中的菜单，和菜单的index标识
      },
      // mounted() {
      //   setTimeout(()=>{
      //     this.$nextTick(()=>{ // 必须在页面加载完成之后获取高
      //       // iframe自适应高
      //       this.iframeH = this.$refs.iframe.contentWindow.document.documentElement.scrollHeight || this.$refs.iframe.contentWindow.document.body.scrollHeight
      //     })
      //   }, 300)
      //   // setTimeout("runResizeTask()",1000);
      //   // 清除定时器
      //   // this.$once('hook:beforeDestroy',()=>{
      //   //   clearInterval(timer);
      //   //   timer = null;
      //   // })
      // },



      mounted () {
          this.timer = setInterval(()=>{
            this.$nextTick(()=>{ // 必须在页面加载完成之后获取高
              // iframe自适应高
              // console.log(document.body.clientHeight);
              this.iframeH = document.body.clientHeight-60
            })
          }, 500)

      }


    }



  })

</script>



</html>