<!DOCTYPE html>

<html>

<head>

    <!-- 页面meta -->

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>岗位管理</title>

    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>

</head>

<body class="hold-transition">

<div id="app">
    <template>
        <div class="content-header">
            <h1>岗位管理</h1>
        </div>
        <!--按钮-->
        <div class="app-container">
            <div class="box">
                <!--搜索查询-->
                <el-form :inline="true" :model="brand" class="demo-form-inline" style="margin-top: 10px;">
                    <div style="float: left;">
                        <el-row>
                            <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
                            <el-button type="primary" plain @click="popWindows">新增</el-button>
                        </el-row>
                    </div>
                    <div style="float: right;">
                        <el-form-item label="岗位名称">
                            <el-input v-model="brand.gradedName" placeholder="岗位名称"></el-input>
                        </el-form-item>
<!--                        <el-form-item label="所在部门">-->
<!--                            <el-input v-model="brand.sector_name" placeholder="所在部门"></el-input>-->
<!--                        </el-form-item>-->
                        <el-form-item>
                            <el-button type="primary" @click="onSubmit">查询</el-button>
                        </el-form-item>
                    </div>
                </el-form>
                <!--新建对话框弹出-->
                <el-dialog title="新增岗位" :visible.sync="addDialogFormVisible"
                           style="width: 900px;height: 700px;margin: auto;"
                           :close-on-click-modal="false" :before-close="closeDialog">
                    <el-form :model="brand2" :rules="addRules" ref="addForm" label-width="100px" class="demo-ruleForm">
                        <el-form-item label="岗位名称" prop="gradedName">
                            <el-input v-model="brand2.gradedName" style="width: 230px;"></el-input>
                        </el-form-item>
                        <el-form-item label="所在部门" prop="sectorId">
                            <el-select v-model="brand2.sectorId" placeholder="请选择">
                                <el-option
                                        v-for="item in sectorData"
                                        :key="item.value"
                                        :label="item.text"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="基本工资" prop="money">
                            <el-input v-model.number="brand2.money" style="width: 230px;"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="handleAdd">立即创建</el-button>
                            <el-button @click="dialogForm('brand2')">取 消</el-button>
                            <el-button @click="resetForm('brand2')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>

                <!--编辑对话框弹出-->
                <el-dialog title="修改信息" :visible.sync="compileDialogFormVisible"
                           style="width: 900px;height: 700px;margin: auto;"
                           :close-on-click-modal="false">
                    <el-form :model="brand2" :rules="addRules2" ref="brand2" label-width="100px" class="demo-ruleForm">
                        <el-form-item label="岗位名称" prop="gradedName">
                            <el-input v-model="brand2.gradedName" style="width: 230px;"></el-input>
                        </el-form-item>
                        <el-form-item label="所在部门" prop="sectorId">
                            <el-select v-model="brand2.sectorId" placeholder="请选择">
                                <el-option
                                        v-for="item in sectorData"
                                        :key="item.value"
                                        :label="item.text"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="基本工资" prop="money">
                            <el-input v-model.number="brand2.money" style="width: 230px;"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="compileHandleAdd">确定修改</el-button>
                            <el-button @click="compileDialogForm('brand2')">取 消</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>

                <!--查看对话框弹出-->
                <el-dialog title="详细信息" :visible.sync="lookFormVisible" :close-on-click-modal="false"
                           style="width: 900px;height: 700px;margin: auto;">
                    <el-form :model="brand2" label-width="100px" class="demo-ruleForm">
                        <el-form-item label="岗位名称" prop="gradedName">
                            <el-input v-model="brand2.gradedName" :disabled="true" style="width: 230px;"></el-input>
                        </el-form-item>
                        <el-form-item label="所在部门" prop="sectorId">
                            <el-select v-model="brand2.sectorId" placeholder="请选择" :disabled="true">
                                <el-option
                                        v-for="item in sectorData"
                                        :key="item.value"
                                        :label="item.text"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="基本工资" prop="money">
                            <el-input v-model.number="brand2.money" :disabled="true" style="width: 230px;"></el-input>
                        </el-form-item>
                        <el-form-item style="margin-left: 200px;">
                            <el-button @click="lookFormVisible=false">关闭窗口</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>

                <!--表格-->
                <el-table ref="filterTable" :data="tableData" style="width: 100%;" :row-class-name="tableRowClassName"
                          @selection-change="handleSelectionChange" @row-click="rowClick" @filter-change="sectorFilterChange">
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column prop="gradedId" label="岗位ID" align="center">
                    </el-table-column>
                    <el-table-column prop="gradedName" label="岗位名称" align="center">
                    </el-table-column>
                    <!-- 筛选内部 filters -->
                    <el-table-column prop="sectorName" label="所属部门" align="center"
                                     :filters="sectorData"
                                     column-key="SectorTag"
                                     filter-placement="bottom-end">
                    </el-table-column>
                    <el-table-column prop="money" label="基础工资" align="center">
                    </el-table-column>
                    <el-table-column align="center" label="操作">
                        <template slot-scope="scope">
                            <el-row>
                                <el-button type="primary" @click.stop="updateHandle(scope.row)">修改</el-button>
                                <el-button type="danger" @click.stop="handleDelete(scope.row)">删除</el-button>
                            </el-row>
                        </template>
                    </el-table-column>
                </el-table>
                <!-- 分页功能 -->
                <div class="block" style="margin: auto; width: 600px; margin-top: 10px;">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" background
                                   :current-page="currentPage" :page-size="pageSize" :page-sizes="[10,15,20,25]"
                                   layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
                    </el-pagination>
                </div>
            </div>
        </div>

    </template>

</div>

</body>

<script>
    var vue = new Vue({
        el: '#app',
        mounted() {
            this.getAll();
            this.getSector();
        },
        data() {
            return {
                sectorData:[],
                options: [],
                isAse: true,
                pageSize: 10,//每页显示数
                totalCount: 100,//总记录数
                multipleSelection: [],//选中的数据
                sectorIds:[],
                ruleForm: {
                    graded_name: '',
                    sector_name: '',
                    desc: '',
                    money: '',
                },
                rules: {
                    graded_name: [
                        {required: true, message: '请输入岗位名称', trigger: 'blur'},
                        {min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur'}
                    ],
                    sector_name: [
                        {required: true, message: '请选择所在部门', trigger: 'change'}
                    ],
                    money: [
                        {required: true, message: '填写员工级别工资', trigger: 'input'},
                        {min: 1, message: '长度至少1字符', trigger: 'input'},
                        {type: 'number', message: '填入的必须为数字'}
                    ]
                },
                // 页数存放
                currentPage: 1,
                // 创建时间必须大于当今时间
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() < Date.now() - 8.64e7
                    }
                },
                listLoading: false,
                //搜索的两个筛选 ，也能当数据模板
                brand: {
                    graded_name: null,
                    sector_name: null,
                    desc: null,
                },
                //产看和修改的显示模板
                brand2: {

                },
                brand3: {
                    graded_name: null,
                    sector_name: null,
                    desc: null,
                },
                //表格信息
                tableData: [
                ],
                //打开弹窗
                //dialogTableVisible: false,
                addDialogFormVisible: false,//新建窗口按钮
                compileDialogFormVisible: false,//编辑窗口按钮
                lookFormVisible: false,//查看窗口按钮
                formLabelWidth: '120px',
                //弹出窗口中的显示信息
                addRules: {
                    gradedName: [
                        {required: true, message: '请输入部门名称', trigger: 'blur'},
                        {min: 2, max: 10, message: '长度在 2 到 10 个字符', trigger: 'blur'}
                    ],
                    sectorName: [
                        {required: true, message: '请选择所在部门', trigger: 'change'}
                    ]
                },

                //弹出修改窗口中的提示信息
                addRules2: {
                    gradedName: [
                        {required: true, message: '请输入部门名称', trigger: 'blur'},
                        {min: 2, max: 10, message: '长度在 2 到 10 个字符', trigger: 'blur'}
                    ],
                    sectorName: [
                        {required: true, message: '请选择所在部门', trigger: 'change'}
                    ]
                }
            }
        },
        methods: {
            getSector(){
                axios.get("/sectors").then((res) => {
                    this.sectorData = [];
                    for (let i = 0; i <res.data.data.length; i++) {
                        this.sectorData.push({
                            text: res.data.data[i].sectorName,
                            value: res.data.data[i].sectorId,
                        })
                    }
                })
            },
            sectorFilterChange(column){
                this.sectorIds = column.SectorTag;
                this.currentPage = 1;
                this.getAll();
            },
            //右上角关闭清空功能
            closeDialog() {
                this.addDialogFormVisible = false
                this.$refs['brand2'].resetFields()

            },
            closeBrand2(){
                this.brand2 = {};
            },
            // 点击查看
            rowClick(row) {
                this.getSector();
                axios.get("/gradedWages/"+row.gradedId).then((res)=>{
                    if(res.data.code == 20041){
                        this.brand2 = res.data.data;
                        this.lookFormVisible = true;
                    }else{
                        this.$message.error(res.data.msg);
                    }
                });
            },
            //表格数据
            getAll() {
                //发送ajax请求
                axios.post("/gradedWages/selectByPageAndCurrentPage?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize + "&isAse=" + this.isAse + "&sectorIds=" + this.sectorIds, this.brand).then((res) => {
                    this.tableData = res.data.data.rows;
                    //设置总记录数
                    this.totalCount = res.data.data.totalCount;
                })
            },
            //添加数据 确定按钮事件
            handleAdd() {
                this.getSector();
                // console.log(this.brand.departmentid[1])
                axios.post("/gradedWages", this.brand2).then((res) => {
                    if (res.data.code == 20011) {
                        this.addDialogFormVisible = false;
                        this.$message.success("添加成功");
                        this.closeBrand2();
                    } else if (res.data.code == 20010) {
                        this.$message.error("添加失败！");
                    } else {
                        this.$message.error(res.data.msg);
                    }

                }).finally(() => {
                    this.getAll();
                })
            },
            // 主要显示部分
            // 修改按钮事件
            updateHandle(row) {
                this.getSector();
                axios.get("/gradedWages/"+row.gradedId).then((res)=>{
                   if(res.data.code == 20041){
                      this.brand2 = res.data.data;
                      this.compileDialogFormVisible = true;
                   }else{
                     this.$message.error(res.data.msg);
                   }
                });
            },
            //修改窗口取消按钮
            compileHandleAdd() {

                axios.put("/gradedWages",this.brand2).then((res)=>{
                  if(res.data.code == 20031){
                    this.$message.success("修改成功");
                    this.compileDialogFormVisible = false;
                    this.closeBrand2();

                  }else if(res.data.code == 20030){
                    this.$message.error("修改失败！");
                  }else{
                    this.$message.error(res.data.msg);
                  }
                }).finally(()=>{
                  this.getAll();
                })
            },
            //修改窗口取消按钮
            compileDialogForm(formName) {
                this.$refs[formName].resetFields();
                this.compileDialogFormVisible = false;
                this.closeBrand2();

            },
            // 复选框选中
            handleSelectionChange(val) {
                for (var i = 0; i < val.length; i++) {
                    this.multipleSelection[i] = val[i].gradedId;
                }
                // console.log(this.multipleSelection);
            },
            //搜索按钮点击事件
            onSubmit() {
                this.getAll();
            },
            //新增弹窗部分
            popWindows() {
                this.addDialogFormVisible = true;
                this.$refs[formName].resetFields();
            },
            // 表单重置按钮
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            // 表单取消按钮
            dialogForm(formName) {
                this.$refs[formName].resetFields();
                this.addDialogFormVisible = false;
            },
            // 每页多少条
            handleSizeChange(val) {
                // console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.getAll();
            },
            // 当前页
            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.getAll();
            },
            //单独删除
            handleDelete(row) {
                this.$confirm("是否删除当前员工信息（不可撤销）", "提示", {
                    type: 'info'
                }).then(() => {

                    axios.delete("/gradedWages/" + row.gradedId).then((res) => {
                        if (res.data.code == 20021) {
                            this.$message.success("删除成功");
                            this.getAll();
                        } else {
                            this.$message.error("删除失败");
                        }
                    })
                }).catch(() => {
                    this.$message.info("取消删除");
                }).finally(() => {
                    this.getAll();
                })
            },
            //批量删除
            deleteByIds() {
                this.$confirm("是否删除当前员工信息（不可撤销）", "提示", {
                    type: 'info'
                }).then(() => {
                    axios.delete("/gradedWages/" + this.multipleSelection.join(",")).then((res) => {
                        if (res.data.code == 20021) {
                            this.$message.success("删除成功");
                            this.getAll();
                        } else {
                            this.$message.error("删除失败");
                        }
                    })
                }).catch(() => {
                    this.$message.info("取消删除");
                }).finally(() => {
                    this.getAll();
                })
            },

        },
    })

</script>

</html>