<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="app">
    <div class="content-header">
        <h1>角色管理</h1>
    </div>
    <!--按钮-->
    <div class="app-container">
        <div class="box">
            <div>
                <div style="float: left;">
                    <el-row>
                        <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
                        <el-button type="primary" plain @click="popwindows">新增</el-button>
                    </el-row>
                </div>
            </div>
            <div>
                <!--新建对话框弹出-->
                <el-dialog title="新建" :visible.sync="addDialogFormVisible" :close-on-click-modal="false"
                           style="width: 900px;height: 900px;margin: auto;" @close="clearBrand2">
                    <el-form :model="brand2" ref="formAdd" :rules="addRules" label-width="100px" class="demo-ruleForm">
                        <el-form-item label="名称" prop="roleName">
                            <el-input v-model="brand2.roleName" style="width: 230px"></el-input>
                        </el-form-item>
                        <el-form-item label="权限">
                            <el-tree
                                    ref="tree"
                                    :data="rootData"
                                    :default-expand-all="true"
                                    show-checkbox
                                    node-key="rootId"
                                    :default-checked-keys="checked_keys"
                                    :props="defaultProps">
                            </el-tree>
                        </el-form-item>
                        <el-form-item>
                            <div style="margin-right: 0;">
                                <el-button @click="resetForm('formAdd')">重置</el-button>
                                <el-button @click="dialogForm('formAdd')">取 消</el-button>
                                <el-button type="primary" @click="handleAdd(brand2)">立即创建</el-button>
                            </div>
                        </el-form-item>
                    </el-form>
                </el-dialog>

                <!--编辑对话框弹出-->
                <el-dialog title="修改" :visible.sync="compileDialogFormVisible" @close="clearBrand2"
                           :close-on-click-modal="false" style="width: 900px;height: 900px;margin: auto;">
                    <el-form :model="brand2" label-width="100px" class="demo-ruleForm">
                        <el-form-item label="名称" prop="roleName">
                            <el-input v-model="brand2.roleName" style="width: 230px"></el-input>
                        </el-form-item>
                        <el-form-item label="权限">
                            <el-tree
                                    ref="tree"
                                    :data="rootData"
                                    :default-expand-all="true"
                                    show-checkbox
                                    node-key="rootId"
                                    :default-checked-keys="checked_keys"
                                    :props="defaultProps">
                            </el-tree>
                        </el-form-item>
                        <el-form-item style="margin-right: 0;">
                            <el-button @click="compileDialogForm('formUpdate')">取 消</el-button>
                            <el-button type="primary" @click="compileHandleAdd(brand2)">立即修改</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>

                <!--查看对话框弹出-->
                <el-dialog title="查看" :visible.sync="lookFormVisible" :close-on-click-modal="false"
                           style="width: 900px;height: 900px;margin: auto;" @close="clearBrand2">
                    <el-form :model="brand2" label-width="100px" class="demo-ruleForm">
                        <el-form-item label="名称" prop="roleName">
                            <el-input v-model="brand2.roleName" style="width: 230px" :disabled="true"></el-input>
                        </el-form-item>
                        <el-form-item label="权限">
                            <el-tree
                                    ref="tree"
                                    :data="rootData"
                                    :default-expand-all="true"
                                    show-checkbox
                                    node-key="rootId"
                                    :default-checked-keys="checked_keys"
                                    :props="defaultProps"
                            >
                            </el-tree>

                        </el-form-item>
                    </el-form>
                </el-dialog>
                <!--表格-->
                <el-table
                        ref="filterTable"
                        :data="tableData"
                        style="width: 100%;"
                        :row-class-name="tableRowClassName"
                        @selection-change="handleSelectionChange"
                        @row-click="rowClick"
                        @sort-change="sortById">
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            prop="roleId"
                            label="id"
                            sortable="custom"
                            column-key="roleId"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="roleName"
                            label="名称"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            align="center"
                            label="操作">
                        <template slot-scope="scope">
                            <el-row>
                                <el-button type="primary" @click.stop="updateHandle(scope.row)">修改</el-button>
                                <el-button type="danger" @click.stop="handleDelete(scope.row)">删除</el-button>
                            </el-row>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data() {
            return {
                //每页显示数
                pageSize: 10,
                pageSizes: [10, 15, 20, 25],
                //总记录数
                totalCount: 100,

                isAse: true,
                //选中的数据
                multipleSelection: [],
                selectionID: [],
                //级联选择器
                // 要传值的
                options: [],
                checked_keys: [],
                rootData: [],
                defaultProps: {
                    children: 'children',
                    label: 'name'
                },
                // 页数存放
                currentPage: 1,
                // 创建时间必须大于当今时间
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() < Date.now() - 8.64e7
                    }
                },
                listLoading: false,
                //搜索的两个筛选 ，也能当数据模板

                //权限列表
                rootList: [],
                //表格信息（传值）
                tableData: [],
                //打开弹窗
                // dialogTableVisible: false,
                addDialogFormVisible: false,
                compileDialogFormVisible: false,
                lookFormVisible: false,
                formLabelWidth: '120px',
                brand2: {}
            }
        },
        created() {
            this.getAll();
        },
        methods: {

            //获取权限级别数据
            getRootData() {
                axios.get("/roots/getToLevelAll").then((res) => {
                    if (res.data.code == 20041) {
                        //如果操作成功，关团弹层。显示数据
                        this.rootData = res.data.data;
                    } else {
                        this.$message.error(res.data.msg)
                    }
                })
            },
            // 点击查看
            rowClick(row) {
                this.getRootData()
                for (let i = 0; i < this.rootData; i++) {
                    this.rootData[i].disabled = true
                }
                console.log(this.rootData)
                axios.get("/roles/" + row.roleId).then((res) => {
                    if (res.data.code == 20041) {
                        console.log(res.data.code);
                        this.brand2 = res.data.data;
                        this.$nextTick(() => {
                            this.$refs.tree.setCheckedKeys(res.data.data.power.split(","))
                        });
                        this.lookFormVisible = true;
                    } else {
                        this.$message.error(res.data.msg);
                    }
                });


            },
            //表格数据
            getAll() {
                //发送ajax请求
                axios.get("/roles").then((res) => {
                    this.tableData = res.data.data;
                })
            },

            clearBrand2() {
                this.brand2 = {}
            },
            clearTree() {
                this.$refs.tree.clear();
            },
            //新建窗口添加数据 确定按钮事件
            handleAdd(brand2) {
                this.$refs.formAdd.validate((valid) => {
                    if (valid) {

                        var brandUpdate = {...brand2}

                        let list = [];
                        this.$refs.tree.getCheckedNodes().forEach(item => {
                            if (item.fatherId != 0) {
                                list.push(item.rootId)
                            }
                        })
                        brandUpdate.power = list.join(",")

                        console.log(brandUpdate)
                        axios.post("/roles", brandUpdate).then((res) => {
                            if (res.data.code == 20011) {
                                this.$message.success("添加成功");
                                this.addDialogFormVisible = false;
                                this.clearBrand2();
                            } else if (res.data.code == 20010) {
                                this.$message.error("添加失败！");
                            } else {
                                this.$message.error(res.data.msg);
                                // console.log(message);
                            }
                        }).finally(() => {
                            this.getAll();
                        })

                    }

                })

            },

            // 修改按钮事件(弹出窗口)
            updateHandle(row) {
                this.getRootData()
                axios.get("/roles/" + row.roleId).then((res) => {
                    if (res.data.code == 20041) {
                        console.log(res.data.code);
                        this.brand2 = res.data.data;

                        this.$nextTick(() => {
                            this.$refs.tree.setCheckedKeys(res.data.data.power.split(","))
                        });
                        this.compileDialogFormVisible = true;
                    } else {
                        this.$message.error(res.data.msg);
                    }
                });
            },
            //修改窗口确定按钮
            compileHandleAdd(brand2) {
                var brandUpdate = {...brand2}
                let list = [];
                this.$refs.tree.getCheckedNodes().forEach(item => {
                    if (item.fatherId != 0) {
                        list.push(item.rootId)
                    }

                })
                brandUpdate.power = list.join(",")
                console.log(brandUpdate)
                axios.put("/roles", brandUpdate).then((res) => {
                    if (res.data.code == 20031) {
                        this.$message.success("修改成功");
                        this.compileDialogFormVisible = false;
                        this.clearBrand2();
                    } else if (res.data.code == 20030) {
                        this.$message.error("修改失败！");
                    } else {
                        this.$message.error(res.data.msg);
                        // console.log(message);
                    }
                }).finally(() => {
                    this.getAll();
                })


            },
            // 修改窗口取消按钮
            compileDialogForm(formName) {
                this.$refs[formName].resetFields();
                this.compileDialogFormVisible = false;
                this.clearBrand2();
                this.clearTree();
            },
            // 主要显示部分
            clearFilter() {
                this.$refs.filterTable.clearFilter();
            },
            formatter(value, row) {
                return row.gradedName === value;
            },
            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            },
            // 表格颜色
            tableRowClassName({row, rowIndex}) {
                if ((rowIndex + 1) % 4 === 0) {
                    return 'warning-row';
                } else if ((rowIndex + 1) % 2 === 0 && (rowIndex + 1) % 4 != 0) {
                    return 'success-row';
                }

                return '';
            },
            // 复选框选中
            handleSelectionChange(val) {
                for (var i = 0; i < val.length; i++) {
                    this.multipleSelection[i] = val[i].roleId;
                }
                console.log(this.multipleSelection);
            },
            //搜索按钮点击事件
            onSubmit() {
                // console.log(this.brand);
                this.getAll();
            },
            //新建弹窗部分
            popwindows() {
                this.getRootData();
                this.addDialogFormVisible = true;
                this.$refs[formName].resetFields();
            },
            // 表单重置按钮
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            // 表单取消按钮
            dialogForm(formName) {
                this.$refs[formName].resetFields();
                this.addDialogFormVisible = false;
            },

            //单独删除
            handleDelete(row) {
                this.$confirm("是否删除当前角色信息（不可撤销）", "提示", {
                    type: 'info'
                }).then(() => {
                    axios.delete("/roles/" + row.roleId).then((res) => {
                        if (res.data.code == 20021) {
                            this.$message.success("删除成功");
                            this.getAll();
                        } else {
                            this.$message.error("删除失败");
                        }
                    })
                }).catch(() => {
                    this.$message.info("取消删除");
                }).finally(() => {
                    this.getAll();
                })
            },
            //批量删除
            deleteByIds() {
                this.$confirm("是否删除当前角色信息（不可撤销）", "提示", {
                    type: 'info'
                }).then(() => {
                    axios.delete("/roles/" + this.multipleSelection.join(",")).then((res) => {
                        if (res.data.code == 20021) {
                            this.$message.success("删除成功");
                            this.getAll();
                        } else {
                            this.$message.error("删除失败");
                        }
                    })
                }).catch(() => {
                    this.$message.info("取消删除");
                }).finally(() => {
                    this.getAll();
                })
            },
        },


    })

</script>


</html>