.el-header, .el-footer {
    background-color:#1c74b3;
    color:white;
    text-align: center;
    line-height: 60px;
  }
  
  .el-aside {
    background-color: #213141;
    color: #333;
    text-align: center;
    line-height: 45px;
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }

  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 660px;
  }
  .el-dropdown-link {
    cursor: pointer;
    color: #464849;
  }
  .el-icon-arrow-down {
    font-size: 12px;
  }
.el-menu-item.is-active{
  background-color:  #1c74b3 !important;
  color: white;
}
.el-menu-item{
  background-color: #394655 !important;
}
/*----------------------------*/
.el-menu-item-group__title{
  padding: 0 0 0 0;
}
.el-menu--popup{
  padding: 0 0 0 0;

}
